<div class="card">
    <div class="card-body">
        <input type="text" name="" #fname class="form-control mb-3" [value]="getObjectOneByOne.fullname" [disabled]="flag" id="">
        <p>
            Chick In Date : {{(getObjectOneByOne.checkInDate | date )?? "0"}}
        </p>
        <p>
            no Of chlderns : {{getObjectOneByOne.children?.length ?? "0"}}
        </p>
        <button class="btn btn-primary" (click)="flag=!flag; onDoneBtn(fname.value)" [innerHTML]="flag ? 'click':'done'">

        </button>
        <button class="btn btn-danger text-capitalize ml-3" (click)="Onremove()">
            Remove
        </button>
    </div>
</div>